# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: development

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "11" # The JDK version to make available on the path.
      - name: Build with Maven
        run: mvn clean package
      - name: Upload Application Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Application
          path: shade/Application.jar
      - name: Upload Application Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Server
          path: shade/Server.jar
