# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '11' # The JDK version to make available on the path.
    - name: Build with Maven
      run: mvn clean package -Dmaven.test.skip=true
    - name: Get Branch Info
      run: echo ${{ GITHUB_REF##*/}}
    - name: Upload Server Jar
      uses: actions/upload-artifact@v1
      with:
        name: Server
        path: shade/Server.jar
    - name: Upload Application Jar
      uses: actions/upload-artifact@v2
      with:
        name: Application
        path: shade/Application.jar  
